:root{
    --brown : #4D1F08;
} 
.s_pos_50 {
    left: 50% !important;
    transform: translateX(-50%);
}
.s_pos_0 {
    left: 0 !important;
}
.s_pos_100 {
    right: 0 !important;
}
.s_header_top {
    background-color: var(--brown);
    color: white;
}
.s_header_sec {
    padding: 20px 0px;
}
.s_header_input {
    height: 40px;
    width: 400px;
    max-width: 400px;
    border-bottom: 2px solid rgba(77, 31, 8, .1);
}
.s_header_input input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.s_header_input svg {
    fill: var(--brown);
    height: 24px;
    width: 24px;
}
.s_header_input ::placeholder {
    color: var(--brown);
    font-weight: 500;
    font-size: 18px;
}

/* logo css */
.s_logo h2{
    font-weight: 700;
    color: var(--brown);
}

/* header icon */
.s_header_icon{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.s_header_icon svg {
    fill: var(--brown);
    height: 28px;
    width: 28px;
    margin: 2px auto;
}

/* s_header_menu */
.s_header_menu .nav-item a {
    color:#000000;
    font-size: 18px;
    font-weight: 500;
    padding-top: 0px;
    margin-bottom: 20px;
}
.s_header_menu .nav-item a:hover {
    color: var(--brown);
}
/* submenu*/
.s_header_menu {
    position: relative;
    /* overflow-x: auto;
    overflow-y: visible; */
} 
.s_submenu{
    position: absolute;
    top:0%;
    /* transform: translateX(-50%); */
    background-color: white;
    padding: 10px;
    z-index: 5;
    min-width: 700px;
    /* max-width: 1200px; */
    font-size: 18px;
    /* visibility: hidden; */
    display: none;
    width: auto;
    /* justify-content: center; */
    /* transition:  0.5; */
    animation-name: ease-in-out;
    animation-duration: 4s;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.s_small_submenu {
    width: auto;
    min-width: auto;
}
.s_small_submenu .s_submenu_list {
    padding: 0px;
} 
.s_header_menu .nav-item:hover .s_submenu{
    transition: 0.8s;
    top:100%;
    display: flex;
}
.s_submenu img {
    width: 27px;
    max-height: 40px;
    height: 100%;
    margin:0px 10px ;
}

.s_submenu_list {
    padding: 20px 30px;
}
.s_submenu .nav-link  {
    margin-bottom: 0px;
    margin: 10px 0px !important;
    padding-bottom: 0px;
}
.s_submenu_head {
    padding: 0px 30px;
    color: var(--brown);
    font-weight: 600;
}
/* offcanvas css */
.sp_header_offcanvas ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sp_header_offcanvas ul a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.sp_header_offcanvas ul li {
    padding: 15px 20px;
    border-bottom:  2px solid rgba(77, 31, 8, .1);
}
.sp_header_offcanvas ul li:hover {
    background-color: rgba(77, 31, 8, .1);
}


.sp_header_offcanvas .accordion-button {
    background-color: white;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
}
.sp_header_offcanvas .offcanvas-body {
    padding: 0px !important;
}
.sp_header_offcanvas .accordion-button:hover {
    background-color: rgba(77, 31, 8, .1);
}
.sp_header_offcanvas .accordion-body .accordion-item {
    border: none;
    font-size: 18px;
}

.sp_header_offcanvas .s_submenu_list {
    padding:0px 10px;
}
.sp_header_offcanvas .s_submenu_list img {
    width: 27px;
    max-height: 40px;
    height: auto;
    margin-right:10px;
}
.sp_header_offcanvas .nav-link {
    height: 40px;
    margin: 5px 0px;
    padding-left: 10px;
}
.sp_header_offcanvas .s_submenu_head {
    margin-bottom: 0px;
}

















@media (min-width: 1650px) {
    
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
 
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .s_header_input {
       max-width: 100%;
       width: 33.33333333%;;
    }
    .s_submenu {
        max-width: 700px;
        width: 700px;
        min-width: auto;
        flex-wrap: wrap;
    }
    .s_small_submenu {
        width: auto;
        min-width: auto;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .s_header_input {
        max-width: 100%;
        width: 100%;;
     }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .s_header_sec {
        padding: 10px;
    }
    .s_header_input {
        max-width: 100% ;
        width: 100%;
        margin-top: 10px;
     }
  }
  @media (max-width: 480px){
    .s_header_sec {
        padding: 10px;
    }
    .s_header_input {
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
     }
     .s_header_input ::placeholder {
        color: var(--brown);
        font-weight: 500;
        font-size: 16px;
    }
     .s_header_icon{
        padding: 0px 5px;
        font-size: 14px;
    }
     .s_header_icon svg {
        fill: var(--brown);
        height: 24px;
        width: 24px;
        margin: 2px auto;
    }
    .s_header_menu .nav-item a {
        font-size: 16px;
    }
  }

