.s_pos_50 {
    left: 50% !important;
    transform: translateX(-50%);
}

.s_pos_0 {
    left: 0 !important;
}

.s_pos_100 {
    right: 0 !important;
}

.s_header_top {
    background-color: var(--brown);
    color: white;
}

.s_header_sec {
    padding: 20px 0px;
}

.s_header_input {
    height: 40px;
    width: 400px;
    max-width: 400px;
    border-bottom: 2px solid rgba(77, 31, 8, .1);
}
.s_header_input:hover {
    border-bottom: 2px solid rgba(77, 31, 8, .5);
}
.s_header_input input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.s_header_input svg {
    fill: var(--brown);
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.s_header_input svg:hover {
    transform: scale(105%);
}
.s_header_input ::placeholder {
    color: var(--brown);
    font-weight: 500;
    font-size: 18px;
}

/* logo css */
.s_logo h2 {
    font-weight: 700;
    color: var(--brown);
}

/* header icon */
/* .s_header_icon a {
    color: var(--brown);
} */
.s_header_icon {
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--brown);
    text-wrap: nowrap;

}

.s_header_icon svg {
    fill: var(--brown);
    height: 28px;
    width: 28px;
    margin: 2px auto;
}
.s_header_icon:hover svg{
    transform: scale(110%);
}
.s_bar_icon svg {
    /* color: var(--brown) !important; */
    stroke: var(--brown) !important;
    fill: var(--brown) !important;
}

/* heart icon csss */
.s_heart_icons.filled svg path {
    fill: #E32B2B !important;
}

/* s_header_menu */
.s_header_menu .nav-item a {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    padding-top: 0px;
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */
}

.s_header_menu .nav-item  a:hover {
    color: var(--brown);
    transform: scale(105%) !important;
    transition: .1s;
}
/* submenu*/
.s_header_menu {
    position: relative;
    /* overflow-x: auto;
    overflow-y: visible; */
}

.s_submenu {
    position: absolute;
    top: 0%;
    background-color: white;
    padding: 10px;
    z-index: 5;
    min-width: 700px;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    width: auto;
    height: 0px;
    margin-top: -10px;
    transition: top 0.3s ease, height 0.3s ease , opacity 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.s_small_submenu {
    width: auto;
    min-width: auto;
}

.s_small_submenu .s_submenu_list {
    padding: 0px;
}

.s_header_menu .nav-item:hover .s_submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
    height: auto;
    display: flex;
}

.s_submenu img {
    width: 27px;
    max-height: 40px;
    height: 100%;
    margin: 0px 10px;
}

.s_submenu_list {
    padding: 20px 30px;
}

.s_submenu a {
    margin-bottom: 10px;
    margin: 10px 0px !important;
    padding-bottom: 0px;
    display: flex;
    text-decoration: none;
}
.s_submenu a p {
    margin-bottom: 0px;
}
.s_submenu_head {
    padding: 0px 30px;
    color: var(--brown);
    font-weight: 600;
}

/* offcanvas css */
/* .sp_header_offcanvas ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
} */
/* .sp_header_offcanvas ul a {
    text-decoration: none;
    font-size: 18px;
    color: black;
} */
/* .sp_header_offcanvas ul li {
    padding: 15px 20px;
    border-bottom:  2px solid rgba(77, 31, 8, .1);
} */
/* .sp_header_offcanvas ul li:hover {
    background-color: rgba(77, 31, 8, .1);
} */

.sp_header_offcanvas .accordion-header {
    border: none !important;
    border-bottom: 1px solid black;
    padding: 0px;
}
.sp_header_offcanvas .accordion-header a {
    color: inherit;
}
.sp_header_offcanvas .accordion-button {
    background-color: white;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 20px 20px;
}

.sp_header_offcanvas .offcanvas-body {
    padding: 0px !important;
}

.sp_header_offcanvas .accordion-button:hover {
    background-color: rgba(77, 31, 8, .1);
}

.sp_header_offcanvas .accordion-body .accordion-item {
    border: none !important;
    font-size: 18px;
}

.sp_header_offcanvas .s_submenu_list {
    padding: 0px 20px;
}
.sp_header_offcanvas .s_submenu_list  a {
    text-decoration: none;
    color: #000000;
    transition: .2s;
    display: flex;
    align-items: center;
}
.sp_header_offcanvas .s_submenu_list  a:hover {
    color: var(--brown);
    padding-left: 20px;
}
.sp_header_offcanvas .s_submenu_list img {
    width: 27px;
    max-height: 40px;
    height: auto;
    margin-right: 10px;
}

.sp_header_offcanvas a {
    height: 40px;
    margin: 5px 0px;
    padding-left: 10px;
}

.sp_header_offcanvas .s_submenu_head {
    margin-bottom: 0px;
}
.sp_header_offcanvas .s_spec_submenu_head {
    font-weight: 600;
    text-decoration: none;
    color: var(--brown);
}
.sp_header_offcanvas .accordion-item:hover{
    background-color: rgba(77, 31, 8, .1);

}
.sp_header_offcanvas .s_spec_submenu_head  h4 {
    padding-left: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.sp_header_offcanvas .show .accordion-body {
    max-height: 100%;
}

.sp_header_offcanvas .accordion-body {
    border-bottom: none;
    padding: 10px !important;
}

.sp_header_offcanvas .accordion-body .s_submenu_head {
    color: grey;
    font-weight: 500;
    font-size: 20px;
}
.sp_header_offcanvas .accordion-body .accordion-button{
    padding: 10px 20px;
}
.sp_header_offcanvas .accordion-body .accordion-button::before {
    content: "\f068";
    font-family: FontAwesome;
    font-size: 20px;
    color: grey;
    margin-top: 5px;
    margin-right: 10px;
}

.sp_header_offcanvas .accordion-body .accordion-button::after {
    display: none;
}

/* modal csss */

.s_modal .modal-body {
    width: 400px !important;
    margin: auto;
    padding: 16px 0px;
}

.s_modal .modal-header,
.modal-footer {
    border: none;
}

.s_modal .modal-dialog {
    max-width: 550px;
    border-radius: 0px;
}

.s_modal .modal-content {
    border-radius: 0px;
}

.s_modal .s_modal_head h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--brown);
}

.s_modal .s_modal_head p {
    font-size: 14px;
    font-weight: 400;
}

.s_modal .s_modal_field {
    margin: 10px auto;
}

.s_modal .s_modal_field p {
    font-size: 22px;
    margin-bottom: 0px;
}

.s_modal .s_modal_field input {
    margin: 5px 0px;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 18px;
    outline-color: var(--brown);
}

.s_modal .s_modal_field span a {
    margin-left: auto;
    text-decoration: none;
    color: #E32B2B;
}

.s_modal .s_modal_field input::placeholder {
    font-size: 18px;
}

.s_modal .s_modal_btn button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brown);
    ;
}

.s_modal .s_modal_btn button {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.s_modal .s_modal_btn:hover {
    background-color: transparent;
}

.s_modal .s_modal_btn:hover button {
    color: white;
}

.s_modal_or .s_modal_line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    margin: 10px 0px;
}

.s_modal_or small {
    color: black;
    background-color: white;
    width: 100px;
    text-align: center;
}

.s_modal .s_modal_btn2 {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    ;
}

.s_modal .s_modal_btn2 img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.s_modal .modal-footer p {
    color: #727272;
}

.s_modal .modal-footer a {
    color: black;
    font-weight: 600;
}

.s_modal .s_modal_otp input {
    width: 60px;
    height: 60px;
    min-width: 50px;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
    text-align: center;
}



/* search offcanvas / modal / section  */
.s_search_sec {
    height: auto;
    /* max-height: 100%; */
    min-height: calc(100vh - 100px);
    position: absolute;
    top: 80px;
    left: -500px;
    background-color: #ffffff;
    z-index: 9;
    transition: .5s;
    width: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border : 1px solid rgba(0, 0, 0, .1)
}

.s_search_sec.show {
    width: 500px;
    transform: translatex(500px);
}

.s_search_sec .s_serach_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px;*/
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.s_search_sec .s_serach_head svg {
    width: 16px;
    height: 16px;
}

.s_search_sec .s_serach_head h5 {
    color: #727272;
}

.s_search_sec a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    padding:10px 20px;
    font-weight: 600;
}

.s_search_sec img {
    width: 70px;
    height: 70px;
    max-width: 70px;
    margin-right: 10px;
    object-fit: cover;
}

.s_search_sec strike {
    color: #727272;
    font-size: 18px;
    margin-left: 10px;
}

.s_search_sec .s_search_not h2 {
    color: #727272;
    text-align: center;
    padding: 40px;
}



@media (min-width: 1200px) and (max-width: 1649px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .s_header_input {
        max-width: 100%;
        width: 33.33333333%;
        ;
    }

    .s_submenu {
        max-width: 700px;
        width: 700px;
        min-width: auto;
        flex-wrap: wrap;
    }

    .s_small_submenu {
        width: auto;
        min-width: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .s_header_input {
        max-width: 100%;
        width: 100%;
        ;
    }

    .s_search_sec {
        top: 140px;
    }
    .s_header_input {
        width: 240px;
    }
    .s_header_sec {
        /* padding-bottom: 0px;
        border-bottom:2px solid rgba(77, 31, 8, .1); */
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .s_header_sec {
        padding: 10px;
    }

    .s_header_input {
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
    }

    .s_search_sec {
        width: 400px !important;
        top: 140px;
    }
}

@media (max-width: 480px) {
    .s_logo h2 {
        font-size: 32px;
    }

    .s_header_sec {
        padding: 10px;
    }

    .s_header_input {
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
    }

    .s_header_input ::placeholder {
        color: var(--brown);
        font-weight: 500;
        font-size: 16px;
    }

    .s_header_icon {
        padding: 0px 5px;
        font-size: 14px;
    }

    .s_header_icon svg {
        fill: var(--brown);
        height: 24px;
        width: 24px;
        margin: 2px auto;
    }

    .s_header_menu .nav-item a {
        font-size: 16px;
    }

    .s_modal .modal-body {
        width: 300px !important;
        margin: auto;
        padding: 16px 0px;
    }

    .s_modal .s_modal_otp input {
        width: 40px;
        height: 40px;
        min-width: 40px;
        border: 1px solid black;
    }

    .s_search_sec {
        width: 300px !important;
        top: 140px;
    }

    .s_search_sec a {
        padding: 10px 0px;
        font-size: 16px;
    }

    .sp_header_offcanvas {
        --bs-offcanvas-width: 311px !important;
    }
}

@media (max-width: 374px) {
    .s_modal .modal-body {
        width: 250px !important;
        padding: 0px;

    }

    .s_modal .s_modal_field p {
        font-size: 18px;
    }

    .s_modal .s_modal_field input {
        height: 40px;
    }

    .s_modal .s_modal_btn {
        height: 40px;
    }

    .s_modal .s_modal_btn2 {
        height: 40px;
    }

    .sp_header_offcanvas {
        --bs-offcanvas-width: 290px !important;
    }
}



.s_facebook_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent; /* Facebook blue */
    color: black;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    font-family: "EB Garamond", serif;
}
.s_modal_btn2 i {
    width: 25px;
    height: 25px;
    background-color: #1877F2;
    border-radius: 50%;
    color: white;
    border: 1px solid #1877F2;
    padding: 5px;
    /* padding-bottom: 0px; */
    margin: 5px;
}
.facebook-login-content {
    display: flex;
    align-items: center;
    gap: 8px; /* Spacing between the image and text */
}

.facebook-login-img {
    width: 24px; /* Adjust the size as needed */
    height: auto;
}

.nsm7Bb-HzV7m-LgbsSe{
    border: none !important;
    background-color: transparent !important;
    font-family: "EB Garamond", serif;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    font-size: 16px;
    color: black !important;
    font-weight: 500 !important;
    font-family: "EB Garamond", serif !important; 
}
.nsm7Bb-HzV7m-LgbsSe:focus .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
    background-color: white !important;
}