.s_product_img img {
    width: 50%;
    object-fit: cover;
    padding: 10px;
}
.s_product_img .s_product_video{
    width: 50%;
    height: same-as-width;
    object-fit: cover;
    padding: 10px;
    position: relative;
}
.s_product_img .s_product_video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.s_product_img .s_product_video img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 60px;
    z-index: 1;
}
.s_product_slider{
    padding: 10px;
    margin-top: 20px;
}

.s_product_slider .owl-nav {
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.s_product_slider .owl-nav button {
    width: 20px;
    height: 20px;
    background-color: var(--brown) !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    border: 1px solid var(--brown) !important;
}

.s_product_slider .owl-nav button:hover {
    background-color: transparent !important;
    color: var(--brown) !important;
}

.s_product_slider .owl-nav button span {
    margin-bottom: 5px;
}
.s_productdetail_sec {
    padding: 10px;
}
.s_productdetail_sec .s_share_icon {
    padding: 10px 0px; 
}
.s_productdetail_sec .s_share_icon svg{
    color: var(--brown);
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.s_productdetail_sec .s_title {
    font-size: 30px;
}
.s_productdetail_sec  .s_rating img{
    width: 20px;
    height: 20px;
    max-width: 20px;
    margin-right: 5px;
}
.s_productdetail_sec .s_price {
    color: var(--brown);
    margin: 20px 0px;
}
.s_productdetail_sec .s_description {
    font-size: 18px;
}
.s_productdetail_sec .s_metal_option div{
    width: calc(50% - 20px);
}
.s_productdetail_sec .s_metal_option .nav {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.s_productdetail_sec .s_metal_option .nav-item{
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    height: 55px;
}
.s_productdetail_sec .s_metal_option .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:10px 20px; */
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}
.s_productdetail_sec .s_metal_option .nav-item .s_color {
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    margin-top: 0px;
}
.s_productdetail_sec .s_metal_option .nav-item a.active {
    background-color: #FFF7F3;
    border-radius: 0px;
    color: var(--brown);
    border: 1px solid var(--brown);
}
.s_productdetail_sec .s_size{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.s_productdetail_sec .s_size h4 {
    font-size: 22px;
    margin-bottom: 0px;
} 
.s_productdetail_sec .s_size div {
    width: calc(50% - 20px);
}
.s_productdetail_sec .s_size .s_box {
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
}
.s_productdetail_sec .s_size_menu {
    position: absolute;
    width: 500px !important;
    top: 100%;
    left: 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    display: none;
    background-color: white;
    z-index: 1;
}
.s_productdetail_sec .s_size_menu .s_size_box {
    border: 1px solid lightgrey;
    min-width: 80px;
    width: 80px;
    margin: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.s_productdetail_sec .s_size_menu .s_size_box.active {
    border-color: var(--brown) !important;
}
.s_productdetail_sec  .s_box:hover .s_size_menu  {
    display: flex;
}
.s_productdetail_sec .s_pincode {
    margin-top: 20px;
    width: 100%;
}
.s_productdetail_sec .s_pincode .s_box{
    width: 100%;
    border: 1px solid var(--brown) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
    color: var(--brown);
} 
.s_productdetail_sec .s_pincode .s_box input {
    box-shadow: none;
    border: none;
    width: 100%;
    outline: none;
}
.s_productdetail_sec .s_pincode h4{
    font-size: 22px;
}




/* accordion */

.s_productdetail_sec .s_offers .accordion {
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.s_productdetail_sec .s_offers .accordion-header {
    padding: 0px !important;
    border-radius: 0px;
    background-color: white;
    border: none;
}
.s_productdetail_sec .s_offers .accordion-header .accordion-button {
    background-color: white;
    box-shadow: none;
    color: var(--brown);
    font-size: 22px;
}
.s_productdetail_sec .s_offers .show .accordion-body {
    max-height: 100%;
    padding: 10px;
}
.s_productdetail_sec .s_offers .accordion-body {
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding:10px 20px !important;
}
.s_productdetail_sec .s_offers .accordion-body img{
    margin-right: 10px;
}
.s_productdetail_sec .s_offers .accordion-body p{
    font-size: 18px;
}
.s_productdetail_sec .s_offers .accordion-body span {
    color: #727272;
}


/* btn section */
.s_button_sec {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.s_button_sec .s_cart_btn {
    width: calc(30% - 10px);
    background-color: var(--brown);
}
.s_button_sec .s_buy_btn {
    width: calc(70% - 10px);
    background-color: var(--brown);
}
.s_button_sec a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.s_product_service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.s_product_service .s_box {
    padding: 5px 15px;
    border: 1px solid var(--brown);
    background-color: #FFF7F3;
    margin: 5px 0px;
    height: 30px;
    display: flex;
    align-items: center;
}
.s_product_service .s_box img {
    margin-right: 5px;
}
.s_productdetail_sec .s_other_info {
    margin-top: 10px;
}
.s_productdetail_sec .s_other_info p{
    margin-bottom: 0px;
    color: #727272;
}







/* product other detail section css -----------------------------------------------------*/

.s_other_sec .nav  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.s_other_sec .nav .nav-link {
    font-size: 24px;
    color: var(--brown);
    border-radius: none;
}
.s_other_sec .nav .nav-link.active {
    background-color: var(--brown);
    color: white;
    border-radius: 0px;
}

@media (max-width: 1640px) {
    .s_productdetail_sec .s_size .s_box  {
        height: 40px !important;
    }
    .s_productdetail_sec .s_pincode .s_box  {
        height: 40px !important;
    }
    .s_button_sec  {
        height: 40px;
    }
    .s_productdetail_sec .s_metal_option .nav-item {
        height: 40px;
    }
}
@media (max-width: 767px) {
    /* .s_box {
        height: 40px !important;
    } */

    .s_productdetail_sec .s_title {
        font-size: 28px;
    }
    .s_metal_option {
        display: block !important;
    }
    .s_metal_option div {
        width: 100% !important;
        margin-top:10px ;
    }
    .s_metal_option .nav-item{
        width: 45% !important;
        align-items: center;
    }
    .s_metal_option .nav-link {
        width: 100% !important;
    }
    .s_size {
        margin-top: 10px;
        flex-direction: column;
    }
    .s_size div{
        width: 100% !important;
        margin-top: 10px;
    }


    .s_button_sec  .s_buy_btn{
        width: calc(50% - 10px) !important;
    }
    .s_button_sec .s_cart_btn{
        width: calc(50% - 10px) !important;
    }

    .s_size .s_box {
        position: relative;
    }
    .s_size_menu {
        width: 300px !important;
        max-width: 300px !important;
        left: calc(50%) !important;
        transform: translateX(-50%) !important;
        top: 0px ;
    }
    .s_productdetail_sec .s_size_menu .s_size_box {
        width: 60px !important;
    }
    .s_description {
        font-size: 16px !important;
    }
}