

.s_product_img {
    cursor: pointer;
}
.s_product_img .s_image {
    width: 50%;
    aspect-ratio: 1 / 1 ;
    padding: 10px;
}
.s_product_img .s_image img {
    width: 100%;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1); */
}
.s_product_img .s_product_video{
    width: 50%;
    aspect-ratio: 1 / 1 !important;  
    object-fit: cover;
    padding: 10px;
    position: relative;

}
.s_product_img .s_product_video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1); */
}
.s_product_img .s_product_video img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 60px;
    z-index: 1;
}
.s_product_slider .s_product_video img:hover {
    display: none;
}
.s_blank_img{
    width: 50%;
    padding: 10px;
    aspect-ratio: 1 / 1 ;
    
}
.s_blank_img .s_product-image {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1); */
}
.s_product_slider{
    padding: 10px;
    margin-top: 20px;
}
.s_product_slider img {
    transition: .2s;
    padding: 10px;
}
.s_product_slider img:hover {
    transform: scale(95%);
    border-radius: 30%;
    /* border: 2px solid rgba(0,0,0,0.5); */
}


.s_product_slider .owl-nav {
    margin-top: 0px;
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.s_product_slider .owl-nav button {
    width: 20px;
    height: 20px;
    background-color: var(--brown) !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    border: 1px solid var(--brown) !important;
}

.s_product_slider .owl-nav button:hover {
    background-color: transparent !important;
    color: var(--brown) !important;
}

.s_product_slider .owl-nav button span {
    margin-bottom: 5px;
}
.s_productdetail_sec {
    padding: 10px;
}
.s_productdetail_sec .s_share_icon {
    padding: 10px 0px; 
}
.s_productdetail_sec .s_share_icon .s_active  {
    fill:#F9595F;
}
.s_productdetail_sec .s_share_icon svg{
    color: var(--brown);
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.s_productdetail_sec .s_title {
    font-size: 30px;
}
.s_productdetail_sec  .s_rating img{
    width: 20px;
    height: 20px;
    max-width: 20px;
    margin-right: 5px;
}
.s_productdetail_sec .s_price {
    color: var(--brown);
    margin: 20px 0px;
}
.s_productdetail_sec .s_description {
    font-size: 18px;
}
.s_productdetail_sec .s_metal_option div{
    width: calc(50% - 20px);
}
.s_productdetail_sec .s_metal_option .nav {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.s_productdetail_sec .s_metal_option .nav-item{
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    height: 55px;
}
.s_productdetail_sec .s_metal_option .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:10px 20px; */
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}
.s_productdetail_sec .s_metal_option .nav-item .s_color {
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    margin-top: 0px;
}
.s_productdetail_sec .s_metal_option .nav-item a.active {
    background-color: #FFF7F3;
    border-radius: 0px;
    color: var(--brown);
    border: 1px solid var(--brown);
}
.s_productdetail_sec .s_size{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.s_productdetail_sec .s_size h4 {
    font-size: 22px;
    margin-bottom: 0px;
} 
.s_productdetail_sec .s_size div {
    width: calc(50% - 20px);
}
.s_productdetail_sec .s_size .s_box {
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
}
.s_productdetail_sec .s_size_menu {
    position: absolute;
    width: 500px !important;
    top: 100%;
    left: 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    /* display: none; */
    background-color: white;
    z-index: 1;
}
.s_productdetail_sec .s_size_menu .s_size_box {
    border: 1px solid lightgrey;
    min-width: 80px;
    width: 80px;
    margin: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.s_productdetail_sec .s_size_menu .s_size_box.active {
    border-color: var(--brown) !important;
}
.s_productdetail_sec  .s_box:hover .s_size_menu  {
    display: flex;
}
.s_productdetail_sec .s_pincode {
    margin-top: 20px;
    width: 100%;
}
.s_productdetail_sec .s_pincode .s_box{
    width: 100%;
    border: 1px solid var(--brown) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
    color: var(--brown);
} 
.s_productdetail_sec .s_pincode .s_box input {
    box-shadow: none;
    border: none;
    width: 100%;
    outline: none;
}
.s_productdetail_sec .s_pincode h4{
    font-size: 22px;
}




/* accordion */

.s_productdetail_sec .s_offers .accordion {
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.s_productdetail_sec .s_offers .accordion-header {
    padding: 0px !important;
    border-radius: 0px;
    background-color: white;
    border: none;
}
.s_productdetail_sec .s_offers .accordion-header .accordion-button {
    background-color: white;
    box-shadow: none;
    color: var(--brown);
    font-size: 22px;
}
.s_productdetail_sec .s_offers .show .accordion-body {
    max-height: 100%;
    padding: 10px;
}
.s_productdetail_sec .s_offers .accordion-body {
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding:10px 20px !important;
}
.s_productdetail_sec .s_offers .accordion-body img{
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.s_productdetail_sec .s_offers .accordion-body p{
    font-size: 18px;
}
.s_productdetail_sec .s_offers .accordion-body span {
    color: #727272;
}


/* btn section */
.s_button_sec {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    height: 50px;
}
.s_button_sec .s_cart_btn {
    width: calc(30% - 10px);
    background-color: var(--brown);
    color: white;
    border: 1px solid var(--brown);
}
.s_button_sec .s_buy_btn {
    width: calc(70% - 10px);
    background-color: var(--brown);
    color: white;
    border: 1px solid var(--brown);
}
.s_button_sec .s_cart_btn:hover {
    background-color: transparent;
    color: var(--brown);
}
.s_button_sec .s_buy_btn:hover {
    background-color: transparent;
    color: var(--brown);
}
.s_button_sec a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.s_product_service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.s_product_service .s_box {
    padding: 5px 15px;
    border: 1px solid var(--brown);
    background-color: #FFF7F3;
    margin: 5px 0px;
    height: 30px;
    display: flex;
    align-items: center;
}
.s_product_service .s_box img {
    margin-right: 5px;
}
.s_productdetail_sec .s_other_info {
    margin-top: 10px;
}
.s_productdetail_sec .s_other_info h4 {
    color: var(--brown);
}
.s_productdetail_sec .s_other_info span{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    color:black;
}
.s_productdetail_sec .s_other_info p{
    font-weight: 500;
    color:#727272;
}




/* product other detail section css -----------------------------------------------------*/
.s_other_sec {
    padding: 20px 0px;
}
.s_other_sec .nav  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 500px;
}
.s_other_sec .nav .nav-link {
    font-size: 24px;
    color: var(--brown);
    border-radius: none;
}
.s_other_sec .nav .nav-link.active {
    background-color: var(--brown);
    color: white;
    border-radius: 0px;
}

.s_other_sec  .s_table_sec {
    /* display: flex; */
    justify-content: space-between;
    margin-top: 0px;
    border-collapse: collapse;
    width: 100%;
    padding: 40px 10px;
}
.s_other_sec  .s_table_sec .s_table .s_table_head {
    color:var(--brown);
    font-size: 22px;
    text-align: start;
    border-bottom:1px solid rgba(0, 0, 0, 0.1); 
    padding: 10px 20px;
}
.s_other_sec  .s_table_sec .s_table {
    border-radius: 3px;
    width: calc(33% - 20px);
    min-width:400px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);
    margin: 30px 0px;
    height: 100%;
}
.s_other_sec  .s_table_sec .s_table span {
    padding: 10px 20px;
}
.s_other_sec  .s_table_sec .s_table span p {
    margin-bottom: 0px;
    color: #727272;
    text-transform: capitalize;
}
.s_other_sec  .s_table_sec .s_table span b {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.s_table_sec .s_w_30 span b{
    width: 30%;
}
.s_table_sec .s_w_40 span b{
    width: 40%;
}
.s_table_sec table {
    border-radius: 3px;
    width: calc(90% - 40px);
    margin: 0px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);
    text-wrap: nowrap;
}
.s_table_sec table th  {
    color: #727272;
    font-weight: 500;
}
.s_table_sec table td {
    font-size: 18px;
    color: black;
    text-align: left;
    font-weight: 500;

}
.s_table_sec table th , td {
    padding: 10px 20px;
}
.s_table_sec table tfoot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.s_table_sec table tfoot td{
    font-size: 24px;
    color: var(--brown);
    font-weight: 600;
}


.s_review {
    padding: 0px 20px;
    margin-top: 20px;
}
.s_review .s_review_profile {
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    background-color: var(--brown);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.s_review .s_review_div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
}
.s_review .s_review_div:last-child {
    border-bottom: none !important;
}
.s_review_detail p{
    font-weight: 500;
    margin-bottom: 0px;
}
.s_review_detail span {
    color: #6A6A6A;
}
.s_review_detail .s_rating img{
    width: 10px;
    height: 10px;
    min-width: 10px;
    max-width: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.s_review_detail .s_review_img img {
    width: 40px;
    height: 50px;
    max-width: 40px;
    object-fit: cover;
}

.s_review_detail .s_review_icon {
    color: #727272;
    font-size: 13px;
}
.s_review_detail .s_review_icon svg {
    margin-right: 5px;
}
.s_view_all a{
    padding: 10px;
    color: var(--brown);
    font-size: 20px;
}


.s_review_modal .modal-content{
    border-radius: 4px;
}
.s_review_modal .modal-header{
    border-bottom: 0px;
    color: var(--brown);
}
.s_review_modal .modal-title {
    font-size: 32px;

}

.s_also_like {
    color: var(--brown);
}
.s_also_like a {
    color: var(--brown);
    font-size: 18px;
    text-decoration: none;
}


/* out of stack button */
.s_stock_status {
    background-color: #FEB0B080;
    color: #FF0000;
    padding:0px 10px;
    margin-left: 10px;
    text-transform: capitalize;
    border-radius: 3px;
}

/* share link modal css */
.s_share_madal .modal-title{
     margin-left: auto;
     font-weight: 600;
     color: var(--brown);
     border-bottom: 0px;
}


.s_share_madal .s_product {
    border: 1px solid black;
}
.s_share_madal .s_product p {
    margin-bottom: 0px;
    font-weight: 500;
    text-transform: capitalize;
}
.s_share_madal .s_product img {
    width: 85px;
    aspect-ratio: 1 / 1;
    margin: 10px;
}

.s_share_madal .s_link{
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}
.s_share_madal .s_link{
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s_share_madal .s_link_btn {
    border-radius: 5px;
    background-color: var(--brown);
    color: white;
    width: 140px;
    height: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.s_share_madal .s_link_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s_share_madal .s_link_icon a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin:0px 20px ;
}
.s_share_madal .s_link_icon a p {
    margin-bottom: 0px;
    font-weight: 500;
}
.s_share_madal .s_link_icon a img {
    width: 26px;
    aspect-ratio: 1 / 1 ;
}
@media (max-width: 1640px) {
    .s_productdetail_sec .s_size .s_box  {
        height: 40px !important;
    }
    .s_productdetail_sec .s_pincode .s_box  {
        height: 40px !important;
    }
    .s_button_sec  {
        height: 40px;
    }
    .s_productdetail_sec .s_metal_option .nav-item {
        height: 40px;
    }
    .s_other_sec  .s_table_sec .s_table {
        /* width: calc(50% - 20px); */
        min-width:300px;
        margin: 0px 10px;
    }
}

@media (max-width: 1199px) {
    .s_productdetail_sec .s_metal_option .nav-item{
        width: 100%;
    }
    .s_productdetail_sec .s_metal_option .nav {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .s_other_sec  .s_table_sec .s_table {
        width: calc(100%);
        min-width:300px;
        margin: 40px auto;
    }
    .s_table_sec table {
        width: calc(100% - 40px);
    }
    .s_other_sec .nav .nav-link{
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    /* .s_box {
        height: 40px !important;
    } */

    .s_productdetail_sec .s_title {
        font-size: 28px;
    }
    /* .s_metal_option {
        display: block !important;
    } */
    .s_metal_option div {
        width: 100% !important;
        margin-top:10px ;
    }
    .s_metal_option .nav-item{
        width: calc(100% - 20px) !important;
        align-items: center;
        margin: auto;
    }
    .s_metal_option .nav-link {
        width: 100% !important;
    }
    .s_size {
        margin-top: 10px;
        flex-direction: column;
    }
    .s_size div{
        width: 100% !important;
        margin-top: 10px;
    }


    .s_button_sec  .s_buy_btn{
        width: calc(50% - 10px) !important;
    }
    .s_button_sec .s_cart_btn{
        width: calc(50% - 10px) !important;
    }

    .s_size .s_box {
        position: relative;
    }
    .s_size_menu {
        width: 300px !important;
        max-width: 300px !important;
        left: calc(50%) !important;
        transform: translateX(-50%) !important;
        top: 0px ;
    }
    .s_productdetail_sec .s_size_menu .s_size_box {
        width: 60px !important;
    }
    .s_description {
        font-size: 16px !important;
    }

.s_review {
    padding: 0px;
}



}

@media (max-width: 424px) {
    .s_other_sec  .s_table_sec{
        padding: 20px 10px;
    }
    .s_product_slider .owl-nav {
        width: 100%;
    }
    .s_table_sec .s_w_30 span b{
        width: 50%;
    }
    .s_table_sec .s_w_40 span b{
        width: 50%;
    }
    .s_metal_option .nav-item{
        width: calc(100% - 10px) !important;
    }
}







#main-div {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 300px;
  }
  
  #main-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
  }