.ds_about-bg{
    background-image: url(../../Img/dhruvin/about-line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
}
.ds_about-box{
    position: absolute;
    top: 60px;
    right: -330px;
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    padding: 30px;
    width: 55%;
}
.ds_about-dimond{
    width: 50px;
    height: 50px;
    background: #E9D5CB;
    padding: 5px;
}






.ds_about-padding{
   padding-top:92px ;    
}
.ds_about-desing{
    background-image: url(../../Img/dhruvin/about-line2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}
.ds_about-box2{
    position: absolute;
    top:15%;
    left: -35%;
    width: 52%;

    box-shadow: 0px 0px 24px 3px #7272721A;
    background-color: white;
    padding: 30px;
}




.ds-about-ring-bg{
    background: #0A0809;
}
.ds_about-chain-bg{
    background-image: url(../../Img/dhruvin/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    height:532px ;
}
.ds_about-pandle{
    height: 141px;
    object-fit: cover;
}
.ds_about-girl{
    height: 532px;
    object-fit: cover;
}
@media (max-width:1441px) {
    .ds_about-box{
        width: 71%;
        top: -25px;
    }
    .ds_about-box2{
        top: 6%;
        left: -47%;
        width: 70%
    }
}

@media (max-width:1200px) {
    .ds_about-box{
        width: 43%;
        top: -5px;
        right: 0;
    }
    .ds_about-box2{
        top: -2%;
        left: -47%;
        width: 82%;
    }
}

@media (max-width:992px) {
    .ds_about-box{
        width: 100%;
        position: relative;
    }
    .ds_about-box2{
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
    }
}

@media (max-width:550px) {
    .ds_about-dimond{
        width: 40px;
        height: 40px;
    }
    .ds_about-box{
        padding: 20px;
    }
    .ds_about-padding {
        padding-top: 0px;
    }
}

@media (max-width:400px) {
    .ds_about-width{
        width: 100% !important;
    }
}