
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.ds_cursor{
    cursor: pointer;
}

.ds_profile-box{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    width: 100% ;
    padding: 20px 0px;
}
.ds_active-color{
    background-color: #4D1F08 !important;
    color: white !important;
}
.ds_profile_img_color{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(104%) contrast(107%);
}
.ds_profile-btn{
    color: #4D1F08;
    background-color: white;
    border: none;
    padding: 20px 30px;
    width: 100%;
    text-align: left;
}
.ds_edit-btn{
    background-color: #4D1F08;
    color: white ;
    padding: 8px 50px;
    outline: none;
    border: none;
}
.ds_profile-inner{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    width: 100% ;
    padding: 20px 22px; 
}
.ds_off-box{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF; 
    padding: 10px 22px; 
}
.ds_offcanvas-main{
    display: none;
}


/* {*************  Edit Profile **************} */
.ds_edit-box{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF; 
    padding: 10px 35px;    
}
.ds_edit-input{
    padding: 7px 15px;
    width: 100%;
    border: 0.75px solid #000000
}
.ds_edit-calender{
    position: absolute;
    top: 39px;
    right: 13px;
    display: inline;
}
.ds_edit-cencel{
    padding: 7px 60px;
    border: 1px solid #4D1F08;
    color: #4D1F08;
    background-color: white;
    text-decoration: none;
}
.ds_edit-save{
    padding: 7px 65px;
    border: 1px solid #4D1F08;
    color: white;
    background-color: #4D1F08;
}


/* {*************  My Address **************} */
.ds_add-btn{
    background-color: #4D1F08;
    color: white ;
    padding: 8px 20px;
    outline: none;
    border: none; 
}
.ds_add-box{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    padding: 10px 35px;    
}
.ds_add-mini{
    position: absolute;
    top: 0;
    right: 40px;
    background-color:white;
    width: 28%;
    padding: 20px;
    box-shadow: 0px 0px 24px 3px #7272721A;
}

/* {*************** Add New Address Popup ************   } */
.ds_add-modal{
    max-width: 700px !important;
  }
  .ds_new-input{
    border: 0.75px solid #4D1F08;
    padding: 7px 10px;
    width: 100%;
  }
  .ds_new-danger{
    color:red;
    font-size: 12px !important;
  }
 .ds_new-home{
    padding: 10px 20px;
    background: white;
    color: #4D1F08;
    border: none;
    outline: none;
    border: 1px solid #4D1F08 !important; 
    text-decoration: none;
    cursor: pointer;

 }
 .ds_select_type_active{
    background: #4D1F08 !important;
    color: white !important;
 }
 .ds_home-icon{
    font-size: 22px;
}
 .ds_new-work{
    padding: 10px 20px;
    border: 1px solid #4D1F08 !important; 
    background: white;
    color: #4D1F08;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
 }
.ds_new-other{
    padding: 10px 30px;
    border: 1px solid #4D1F08 !important; 
    background: white;
    color: #4D1F08;
    border: none;
    outline: none; 
    text-decoration: none;
    cursor: pointer;
}
.ds_new-save{
    padding: 10px 10px;
    background: #4D1F08;
    width: 100%;
    color: white;
    border: none;
    outline: none;
}



/* {---------------- Delete Item Modal ------------------} */
.ds_delete-modal{
    width: 100% !important;
}
.ds_delete-no{
    border: 1px solid #4D1F08;
    color: #4D1F08;
    background-color: white;
    padding: 5px 45px;
    margin-right: 20px;
}
.ds_delete-yes{
    border: 1px solid #4D1F08;
    color: white;
    background-color: #4D1F08;
    padding: 5px 47px; 
}


/* {************* Saved Cards **************} */
.ds_save-box{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    height: 403px;
    padding: 0px 20px;
}

/* {-------------- Save Card ------------} */
.ds_save-inner{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    padding: 20px 20px;
}
.ds_card-make{
    background-image: url(../../Img/dhruvin/card-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
}
.ds_save-trash{
    position: absolute;
    top: 12px;
    right: 15px;
    color: white;
    cursor: pointer;
}
.ds_save-limit{
    color: #B061FF;
    margin-left: 20px;
}
.ds_card-make2{
    background-image: url(../../Img/dhruvin/card-img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px; 
}
.ds_card-make3{
    background-image: url(../../Img/dhruvin/card-img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px; 
}


/* {-------------- Add New Card Popup ------------} */
.ds_add-new-popup{
   max-width: 600px !important;
}


/* {************* My Order **************} */

.ds_order-all {
    border: 1px solid #4D1F08;
    color: #4D1F08;
    padding: 6px 30px;
    background-color: white;
}
.ds_order-active-btn{
    background-color: #4D1F08 !important;
    color: white !important;
}
.ds_order-prog{
    border: 1px solid #4D1F08;
    color: #4D1F08;
    padding: 6px 15px;
    background-color: white; 
}
.ds_order-bg{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF;
    height: auto;
}
.ds_order-browse{
    background-color: #4D1F08;
    color: white; 
    padding: 8px 35px;
    border: 1px solid #4D1F08;
}

/* {----------------------- My Order -------------------} */
.ds_order-inner{
    border: 0.75px solid #00000033;
    background: #FFFFFF;
}
.ds_order-progress{
    color: #FF5900;
    border-right: 1px solid #727272;
    padding-right: 10px;
}
.ds_order-text{
    padding: 0px 10px;
    border-right: 1px solid #727272;
}
.ds_order-order{
    padding-left: 10px;
}
.ds_order-line{
    border-bottom: 1px solid #727272;
}
.ds_oder-img{
    height: 125px;
    object-fit: cover;
    width: 208px;
}
.ds_order-line-txt{
    color: #727272;
    text-decoration:line-through;
}
.ds_order-deliver{
    color: #007D0D;
    border-right: 1px solid #727272;
    padding-right: 10px;
}
.ds_order-flex{
    justify-content: space-between;
}
.ds_order-cencel{
    color: #FF0000;
    border-right: 1px solid #727272;
    padding-right: 10px;
}





@media (max-width:1441px) {
/* {*************  My Address **************} */
    .ds_add-mini{
        width: 38%;
    } 
}

@media (max-width:1200px) {
/* {*************  My Address **************} */
    .ds_add-mini{
        width: 47%;
    } 
}

@media (max-width:992px) {
    /* {*************  My Address **************} */
        .ds_add-mini{
            width: 40%;
        } 
}

@media (max-width:767px) {
    .ds_profile-box{
        display: none;
    }
    .ds_offcanvas-main{
        display: block;
    }
/* {*************  My Address **************} */
    .ds_add-mini{
        width: 30%;
    }     
}

@media (max-width:576px) {
/* {*************  Edit Profile **************} */
  .ds_edit-save{
    margin-left: 20px;
  }
  /* {*************  My Address **************} */
  .ds_add-mini{
    width: 43%;
}   
/* {---------------- Delete Item Modal ------------------} */
.ds_delete-modal .modal-dialog  .modal-content{
    max-width: 370px !important;
    margin: auto;
}

/* {-------------- Add New Card Popup ------------} */
.ds_add-new-popup{
    max-width: 390px !important;
    margin: auto;
 }
 
}

@media (max-width:550px) {
/* {----------------------- My Order -------------------} */
 .ds_order-manage{
    justify-content: left;
 }

/* {********************  Return Order Popup  *********} */
 .ds_return-popup{
    max-width: 350px !important;
    margin: auto;
 }

}

@media (max-width:430px) {
/* {************* My Profile **************} */
.ds_offcanvas-inner{
    --bs-offcanvas-width: 320px !important;
}
/* {*************  Edit Profile **************} */
  .ds_edit-save{
     margin-top: 20px;
     margin-left: 0px;
  }
  /* {*************  My Address **************} */
    .ds_add-mini{
        width: 50%;
    }  

    /* {---------------- Delete Item Modal ------------------} */
   .ds_delete-modal .modal-dialog  .modal-content{
       max-width: 320px !important;
       margin: auto;
   }
 /* {-------------- Add New Card Popup ------------} */
.ds_add-new-popup{
    max-width: 330px !important;
    margin: auto;
 }


/* {*************** Add New Address Popup ************   } */
/* .ds_new-other{
    display: block;
    margin-top: 10px;
} */

/* {*************** Remove Product Popup ************   } */
.ds_order-all{
    margin-top: 10px
}
.ds_order-prog {
    margin-top: 10px

}
/* {----------------------- My Order -------------------} */
.ds_order-flex{
    justify-content: end;
 }

/* {************* My Profile **************} */
.ds_offcanvas-inner{
    --bs-offcanvas-width: 320px !important;
}

 
}

@media (max-width:350px) {
/* {************* My Profile **************} */
.ds_offcanvas-inner{
    --bs-offcanvas-width: 270px !important;
}
 /* {*************  My Address **************} */
 .ds_add-mini{
    width: 65%;
}   
/* {---------------- Delete Item Modal ------------------} */
.ds_delete-modal .modal-dialog  .modal-content{
    max-width: 290px !important;
    margin: auto;
}
.ds_delete-no{
    margin-right: 0;
    margin-bottom: 10px;
}
 /* {-------------- Add New Card Popup ------------} */
 .ds_add-new-popup{
    max-width: 290px !important;
    margin: auto;
 }
 .ds_delete-flex{
    display: flex;
    flex-direction: column;
 }

 /* {********************  Return Order Popup  *********} */
 .ds_return-popup{
    max-width: 290px !important;
    margin: auto;
 }

}