.ds_lh{
    line-height: 19px;
}

/* {/* {************** Order Conformation *******************}} */
 .ds_con-text{
    color: #37861F;
    font-weight: 600;
}
.ds_con-map{
   width: 100%;
   height: 400px;
}
.ds_con-box{
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    padding: 10px 0px;
}
.ds_con-line{
    border: 0.1px solid #6A6A6A
}
.ds_con-bill-txt{
    font-size: 14px;
    width: 50%;
}
.ds_con-bill-deta{
    font-size: 14px;
}
.ds_con-font{
    font-size: 13px;
    line-height: 18px;
}
.ds_con-btn{
    padding: 10px 30px;
    background: #4D1F08;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}
.ds_con-buy{
    box-shadow: 0px 0px 24px 3px #7272721A;
    padding: 20px 0px;
}
.ds_con-price{
    font-size: 14px;
}
.ds_con-total{
    font-size: 22px;
    color: #6A6A6A;
    font-weight: 400 !important;
}
.ds_con-total-price{
    font-size: 22px;
}
.ds_con-dash{
    border: 0.5px dashed #6A6A6A
}