.ds_cod-box{
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    padding: 10px 0px;
}
.ds_cod-title{
    color: #6A6A6A;
}
.ds_cod-mini{
    font-size: 14px;
}
.ds_cod-main{
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
}
.ds_cod-on-btn{
    background: #4D1F08;
    padding: 13px 0px;
    width: 100%;
    color: white;
    border-radius:0% !important;
    font-size: 14px;
    border: none;
}
.ds_cod-on-btn-txt{
    font-size: 14px;
    background-color: transparent;
    border: none;
}
.ds_cod-on-btn:hover{
    background: #4D1F08;
    color: white;
}
.ds_cod-on-btn:focus{
    box-shadow: none !important;
}
.ds_pay-box{
    height: 360px;
}
.ds_cod-bg{
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
}
.ds_cod-input{
    padding: 11px 20px;
    background: white;
    border: 0.75px solid #000000;
    outline: none;
    width: 100%;
    font-size: 14px;
}
.ds_cod-text{
    margin-right: 105px;
    color: #6A6A6A;
    font-size: 13px;
}
.ds_cod-cap{
    width: 100%;
}
.ds_cod-refresh{
    font-size: 25px;
}
.ds_cod-pay{
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0px;
    background: #4D1F08;
    color: white;
    border: 1px solid #4D1F08;

}
.ds_cod-pay:hover{
    color: #2B221E;
    background-color: white; 
    border: 1px solid #4D1F08;
}
.ds_cod-pay:focus{
    box-shadow: none;
}
.ds_cod-razo{
    border: 1px solid #2A221E;
    width: 100%;
    padding: 10px 0px;
    background-color: white;
}





@media (max-width:1441px) {
/* ***************** UPI Id **************** */
.ds_upi-select{
    padding: 4px 10px 10px 11px;
}
}

@media (max-width:600px) {
    .ds_pay-box {
        height: 370px;
    }   
}

@media (max-width:550px) {
/* ***************** UPI Id **************** */
.ds_upi-select{
    padding: 4px 10px 10px 11px;
}
.ds_cod-cap{
    width: 50%;
}
.ds_pay-box {
    height: 475px;
}
}

@media (max-width:426px) {
/* ************** UPI Id **************** */
.ds_upi-select{
    padding: 4px 0px 10px 5px;
    width: 25% !important
}
.ds_pay-box {
    height: 450px;
}
}

@media (max-width:350px) {

    .ds_pay-box {
        height: 440px;
    }
}