
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#root {
  height: 100%;
  overflow: hidden;
}
body{
  font-family: "EB Garamond", serif;
}
html, body {
  margin: 0;
  padding: 0;
}

.ds_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px; 
  padding-right: 10px;
}



@media (min-width: 1650px) {
  .ds_container {
      width: 1550px;
  }
}
@media (min-width: 1200px) and (max-width: 1649px) {
  .ds_container {
      width: 1170px;
      max-width: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ds_container {
      width: 970px;
      max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ds_container {
      width: 750px;
      max-width: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .ds_container {
      max-width: 750px;
  }
}
